annotated-types  
anyio          
asyncpg          
click            
databases       
fastapi           
greenlet          
h11              
idna             
pip               
psycopg2-binary  
pydantic         
pydantic_core     
python-dotenv    
sniffio          
SQLAlchemy        
starlette         
typing_extensions
typing-inspection 
uvicorn          
